# dwmblocks files
dwm_backlight
dwm_battery
dwm_bluetooth
dwm_connman
dwm_countdown
dwm_cpu
dwm_cron
dwm_date
dwm_do_not_disturb
dwm_memory
dwm_packages
dwm_pulse
dwm_resources
dwm_spotify
dwm_storage
dwm_systemd_networkd
dwm_ufw
dwm_vpn
dwm_weather

qso
qrc
.env
iso
start-ec2-instance
stop-ec2-instance
stop-ec2-instance
dwm_currency
dwm_date_brasil
ssh-linux-data-analytics-vm
public-ip-ec2-instance
stg-redeciclo-corp-conectar.sh
nfex-conectar.sh
