# dwmblocks files
dwm_packages
dwm_pulse
dwm_spotify
dwm_backlight
dwm_battery
dwm_bluetooth
dwm_connman
dwm_date
dwm_resources
dwm_systemd_networkd
dwm_weather
dwm_countdown
qso
qrc
.env
iso
start-ec2-instance
stop-ec2-instance
stop-ec2-instance
dwm_currency
dwm_date_brasil
ssh-linux-data-analytics-vm
